<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>MedicalStore</display-name>
  <welcome-file-list>
    <welcome-file>/MainDashboard.jsp</welcome-file>
  </welcome-file-list>
  
  

  


  <servlet>
    <description></description>
    <display-name>AdminLoginServlet</display-name>
    <servlet-name>AdminLoginServlet</servlet-name>
    <servlet-class>controller.AdminLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLoginServlet</servlet-name>
    <url-pattern>/AdminLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminLogout</display-name>
    <servlet-name>AdminLogout</servlet-name>
    <servlet-class>controller.AdminLogout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLogout</servlet-name>
    <url-pattern>/AdminLogout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserRegister</display-name>
    <servlet-name>UserRegister</servlet-name>
    <servlet-class>controller.UserRegister</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserRegister</servlet-name>
    <url-pattern>/UserRegister</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddCompany</display-name>
    <servlet-name>AddCompany</servlet-name>
    <servlet-class>controller.AddCompany</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCompany</servlet-name>
    <url-pattern>/AddCompany</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddMedicine</display-name>
    <servlet-name>AddMedicine</servlet-name>
    <servlet-class>controller.AddMedicine</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddMedicine</servlet-name>
    <url-pattern>/AddMedicine</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteCompany</display-name>
    <servlet-name>DeleteCompany</servlet-name>
    <servlet-class>controller.DeleteCompany</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteCompany</servlet-name>
    <url-pattern>/DeleteCompany</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteMedicine</display-name>
    <servlet-name>DeleteMedicine</servlet-name>
    <servlet-class>controller.DeleteMedicine</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteMedicine</servlet-name>
    <url-pattern>/DeleteMedicine</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteUser</display-name>
    <servlet-name>DeleteUser</servlet-name>
    <servlet-class>controller.DeleteUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteUser</servlet-name>
    <url-pattern>/DeleteUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateCompany</display-name>
    <servlet-name>UpdateCompany</servlet-name>
    <servlet-class>controller.UpdateCompany</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateCompany</servlet-name>
    <url-pattern>/UpdateCompany</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateMedicine</display-name>
    <servlet-name>UpdateMedicine</servlet-name>
    <servlet-class>controller.UpdateMedicine</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateMedicine</servlet-name>
    <url-pattern>/UpdateMedicine</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateMedicineOld</display-name>
    <servlet-name>UpdateMedicineOld</servlet-name>
    <servlet-class>controller.UpdateMedicineOld</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateMedicineOld</servlet-name>
    <url-pattern>/UpdateMedicineOld</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateUserNew</display-name>
    <servlet-name>UpdateUserNew</servlet-name>
    <servlet-class>controller.UpdateUserNew</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateUserNew</servlet-name>
    <url-pattern>/UpdateUserNew</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserLogin</display-name>
    <servlet-name>UserLogin</servlet-name>
    <servlet-class>controller.UserLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserLogin</servlet-name>
    <url-pattern>/UserLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserLogout</display-name>
    <servlet-name>UserLogout</servlet-name>
    <servlet-class>controller.UserLogout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserLogout</servlet-name>
    <url-pattern>/UserLogout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewCompany</display-name>
    <servlet-name>ViewCompany</servlet-name>
    <servlet-class>controller.ViewCompany</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewCompany</servlet-name>
    <url-pattern>/ViewCompany</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewUser</display-name>
    <servlet-name>ViewUser</servlet-name>
    <servlet-class>controller.ViewUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewUser</servlet-name>
    <url-pattern>/ViewUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateCompanyNew</display-name>
    <servlet-name>UpdateCompanyNew</servlet-name>
    <servlet-class>controller.UpdateCompanyNew</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateCompanyNew</servlet-name>
    <url-pattern>/UpdateCompanyNew</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateUser</display-name>
    <servlet-name>UpdateUser</servlet-name>
    <servlet-class>controller.UpdateUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateUser</servlet-name>
    <url-pattern>/UpdateUser</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>AdminFilter</display-name>
    <filter-name>AdminFilter</filter-name>
    <filter-class>filters.AdminFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AdminFilter</filter-name>
    <url-pattern>/admin_dashboard.jsp</url-pattern>
    <url-pattern>/viewStockAdmin.jsp</url-pattern>
    <url-pattern>/companyAdminView.jsp</url-pattern>
    <url-pattern>/UserSignup.jsp</url-pattern>
    <url-pattern>/view.jsp</url-pattern>
    <url-pattern>/AdminLogout</url-pattern>
    <url-pattern>/UserRegister</url-pattern>
    <url-pattern>/ViewUser</url-pattern>
    <url-pattern>/DeleteUser</url-pattern>
    <url-pattern>/Update.jsp</url-pattern>
    <url-pattern>/UpdateUserNew</url-pattern>
  </filter-mapping>
  <filter>
    <display-name>UserFilter</display-name>
    <filter-name>UserFilter</filter-name>
    <filter-class>filters.UserFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>UserFilter</filter-name>
    <url-pattern>/UserDashboard.jsp</url-pattern>
    <url-pattern>/viewStock.jsp</url-pattern>
    <url-pattern>/DeleteMedicine</url-pattern>
    <url-pattern>/AddMedicine.jsp</url-pattern>
    <url-pattern>/AddMedicine</url-pattern>
    <url-pattern>/DeleteMedicine</url-pattern>
    <url-pattern>/UpdateMedicine.jsp</url-pattern>
    <url-pattern>/DeleteCompany</url-pattern>
    <url-pattern>/UpdateCompany.jsp</url-pattern>
    <url-pattern>/AddCompany.jsp</url-pattern>
    <url-pattern>/AddCompany</url-pattern>
    <url-pattern>/Order.jsp</url-pattern>
    <url-pattern>/sales.jsp</url-pattern>
    <url-pattern>/SalesUpdate</url-pattern>
    <url-pattern>/Invoice.jsp</url-pattern>
  </filter-mapping>
  <filter>
    <display-name>CheckAdmin</display-name>
    <filter-name>CheckAdmin</filter-name>
    <filter-class>filters.CheckAdmin</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>CheckAdmin</filter-name>
    <url-pattern>/UpdateUser</url-pattern>
  </filter-mapping>
  <filter>
    <display-name>CheckUser</display-name>
    <filter-name>CheckUser</filter-name>
    <filter-class>filters.CheckUser</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>CheckUser</filter-name>
    <url-pattern>/UpdateCompany</url-pattern>
    <url-pattern>/UpdateCompanyNew</url-pattern>
    <url-pattern>/UpdateMedicine</url-pattern>
    <url-pattern>/UpdateMedicineOld</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>SalesUpdate</display-name>
    <servlet-name>SalesUpdate</servlet-name>
    <servlet-class>controller.SalesUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SalesUpdate</servlet-name>
    <url-pattern>/SalesUpdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OrderData</display-name>
    <servlet-name>OrderData</servlet-name>
    <servlet-class>controller.OrderData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderData</servlet-name>
    <url-pattern>/OrderData</url-pattern>
  </servlet-mapping>
</web-app>